<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:fragment="header-css">
    <title th:text="'pLaze - ' + ${title}">>FixMyPlace | Home</title>
 
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
        <link href="../css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
         <link rel="shortcut icon"  th:href="@{/img/fav.jpg}"/>
    

    </div>

</head>
<body >
<div th:fragment="header">
    <!-- this is header -->


   <nav class="teal darken-3" role="navigation">
          <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo" th:href="@{/}"><img class="brand-logo" src="../static/img/floot.jpg" th:src="@{/img/logo.jpg}" alt="logo" style=" height: 60px;"/></a>
               <ul class="right hide-on-med-and-down">
                 <li  class="active"  role="presentation"><a class="white-text" th:href="@{/home}">Place Stories</a></li>
                <li role="presentation"><a class="white-text"  th:href="@{/new/story}">New Story</a></li>
             
                <li role="presentation"><a class="white-text"  th:href="@{/search}">Find a Place</a></li>
               
                
                <li role="presentation"><a class="white-text"  th:href="@{/event/search}">Find an Event  </a></li>
              
                <li role="presentation"><a class="white-text"  th:href="@{/add-document}">Ziwaphi </a></li>
                 <li role="presentation"><a class="white-text"  th:href="@{'/user/edit/'+{id}}">Settings</a></li>
                <li role="presentation"><a class="white-text" th:href="@{/logout}">Sign Out</a></li>
            </ul>

            <ul  id="nav-mobile" class="sidenav teal darken-3">
                 <li class="active" role="presentation"><a class="white-text" th:href="@{/home}">Place Stories</a></li>
                <li role="presentation"><a class="white-text"  th:href="@{/new/story}">New Story</a></li>
             
                <li role="presentation"><a class="white-text"  th:href="@{/search}">Find a Place</a></li>
               
                
                <li role="presentation"><a class="white-text"  th:href="@{/event/search}">Find an Event  </a></li>
              
                <li role="presentation"><a class="white-text"  th:href="@{/add-document}">Ziwaphi </a></li>
                 <li role="presentation"><a class="white-text"  th:href="@{'/user/edit/'+{id}}">Settings</a></li>
                <li role="presentation"><a class="white-text" th:href="@{/logout}">Sign Out</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
        </div>
    </nav>
</div>

</body>
</html>