<!DOCTYPE html>

<html>
    <head>
        <title th:text="'pLaze - ' + ${title}">>FixMyPlace | Home</title>
 <link rel="shortcut icon" href="wtw.jpg" th:href="@{/img/fav.jpg}"/>
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <link href="../css/materialize.css" th:href="@{/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="../css/style.css" th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!--Auto complete Script-->
   <script>
 $(document).ready(function() {
          $('#search').devbridgeAutocomplete({
          serviceUrl: '/find-municipality',
          paramName: 'search',
          minChars: 1,
          autoSelectFirst: true,
      });
    });
  </script>

    </head>
<body class="mee">
        <nav class="go-nowhere teal darken-3" role="navigation">
          <div class="nav-wrapper container">
              <a id="logo-container" href="#" class="brand-logo" th:href="@{/}"><img class="brand-logo" src="../static/img/floot.jpg" th:src="@{/img/logo.jpg}" alt="logo" style=" height: 60px;"/></a>
             <ul class="right hide-on-med-and-down">
               <li  role="presentation"><a class="white-text" th:href="@{/home}">Place Stories</a></li>
                <li  role="presentation"><a class="white-text"  th:href="@{/new/story}">New Story</a></li>
             
                <li class="active" role="presentation"><a class="white-text"  th:href="@{/search}">Find a Place</a></li>
                  <li role="presentation"><a class="white-text"  th:href="@{/event/search}">Find an Event </a></li>
                <li  role="presentation"><a class="white-text "  th:href="@{/add-document}">Ziwaphi </a></li>
                 <li  role="presentation"><a class="white-text"  th:href="@{/account}">Settings</a></li>
                <li role="presentation"><a class="white-text" th:href="@{/logout}">Sign Out</a></li>
           </ul>

              <ul id="nav-mobile" class="sidenav teal darken-3">
                     <li  role="presentation"><a class="white-text" th:href="@{/home}">Place Stories</a></li>
                <li  role="presentation"><a class="white-text"  th:href="@{/new/story}">New Story</a></li>
             
                <li class="active" role="presentation"><a class="white-text"  th:href="@{/search}">Find a Place</a></li>
                  <li role="presentation"><a class="white-text"  th:href="@{/event/search}">Find an Event </a></li>
                <li  role="presentation"><a class="white-text "  th:href="@{/add-document}">Ziwaphi </a></li>
                 <li  role="presentation"><a class="white-text"  th:href="@{/account}">Settings</a></li>
                <li role="presentation"><a class="white-text" th:href="@{/logout}">Sign Out</a></li>
              </ul>
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons white-text">menu</i></a>
          </div>
      </nav>
      <div class="section">
              <div class="container">

                  <h1 class="header center teal-text white-text-lighten-2">pLaze</h1>
                  <div class="row center">
                      <h5 class="header col s12 light">Keeping you in touch with your hood</h5>
                  </div>
              
        
       
      <form th:object="${tshepo}" th:action="@{/find-place}" method="get" class="white">
          
              <center> <h5 class="red-text " th:text="${message}"> </h5>
                  <h6 class="red-text" th:text="${errorDescription}"></h6>
                  
                  <h4 class="cyan-text">Search for a province...</h4>
                  <i class="material-icons cyan-text prefix">textsms</i>
                  <input  type="text" class="autocomplete center yellow red-text" name="search" id="search" style="width: 25%;" placeholder="eg. gauteng" required="true"/><br/>
        <input class="btn center pink bold waves-green" style="width: 28%;" type="submit" value="Search"/> </center> 
        <br/>
        
        <br/>
        <div th:if="${not #lists.isEmpty(search)}">
            
            <h6>Municipalities in the province you searched</h6>
            
           
     <div class="row">
 <div class="collection col s6"  >
    <a th:each="up : ${search}"  href="#!" th:href="@{'/show/place/' + ${up.id}}" class="collection-item" th:text="${up.name}"><span class="badge">1</span>Alan</a>
 </div>
     </div> 
        </div>
        
    </form>
              </div>
          </div>
    <div>
        
        
    </div>
   <div th:replace="/fragments/footer :: footer"/>
       
      <!--  Scripts-->
      
       <script src="js/materialize.js" th:src="@{/js/materialize.js}"></script>
       <script src="js/init.js" th:src="@{/js/init.js}"></script>
       <script src="js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"></script>
       <script src="js/jquery.autocomplete.js" th:src="@{/js/jquery.autocomplete.js}"></script>
   
</body>
</html>
